<div class="container">
  <br>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">Import file excel</div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="file" name="excel" [(ngModel)]="excel" (change)= "handleFile($event)">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6">
      <h2>Import User</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>gender</th>
            <th>email</th>
            <th>image</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>2</td>
            <td>
              2
            </td>
            <td>2</td>
            <td>2</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>