<div class="mt-4 col-lg-6 col-sm-4 offset-2">
  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Old Password</label>
          <div class="col-8">
            <input type="password" name="old_pass" class="form-control" placeholder="Nhập mật khẩu cũ"
              [(ngModel)]="form.old_pass" #old_pass="ngModel" required minlength="3">
            <div *ngIf="old_pass.errors && (old_pass.dirty || old_pass.touched)" class="alert alert-danger">
              <div [hidden]="!old_pass.errors.required">Password is Required</div>
              <div [hidden]="!old_pass.errors.minlength">More than 3 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">New Password</label>
          <div class="col-8">
            <input type="password" name="new_pass" class="form-control" placeholder="Nhập mật khẩu mới"
              [(ngModel)]="form.new_pass" #name="ngModel" required minlength="3">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">New Password is Required</div>
              <div [hidden]="!name.errors.minlength">More than 3 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-8">
            <input type="password" name="confirm" class="form-control" placeholder="Xác nhận mật khẩu"
              [(ngModel)]="form.confirm" #name="ngModel" required minlength="3">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">Confirm Password is Required</div>
              <div [hidden]="!name.errors.minlength">More than 3 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 offset-2">
            <button type="submit" class="btn btn-success" [disabled]=!loginForm.valid>Update</button>
            <a routerLink="/list" class="btn btn-info float-right">Cancel</a>
          </div>
        </div>
        <small class=float-right></small>
      </form>
    </div>
  </div>
</div>