<div class="mt-4 col-6 offset-2" *ngFor="let user of results">
    <div class="card">
        <div class="card-header">Edit User</div>
        <div class="card-body">
            <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-8">
                        <input type="text" name="name" class="form-control" placeholder="{{user.name}}"
                            [(ngModel)]="form.name" #name="ngModel" required minlength="3">
                        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                            <div [hidden]="!name.errors.required">Name is Required</div>
                            <div [hidden]="!name.errors.minlength">More than 3 characters</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-8">
                        <select class="form-control" name="gender" [(ngModel)]="user.gender">Gender
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-8">
                        <textarea name="description" class="form-control" placeholder="{{user.description}}"
                            [(ngModel)]="form.description" id="" cols="60" rows="2" maxlength="140"
                            placeholder="Max enter 140 character"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-8">
                        <input type="file" name="image">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-success" >Update</button>
                        <a routerLink="/list" class="btn btn-info float-right">Cancel</a>
                    </div>
                </div>
                <small class=float-right></small>
            </form>

        </div>
    </div>
</div>