<div class="container">
    <div class="row">
        <div class="col-9">
            <form action="" method="post">
                <label for="">Search</label>
                <input type="text" class="form-control" name="searchText" [(ngModel)]="searchText"
                    (keyup)="handleSearch()" placeholder="Tim kiem theo name, email">
            </form>
            <h4>Show</h4> <select name="pageSize" [(ngModel)]="pageSize" (click)="showList()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Email </th>
                        <th>Image</th>
                        <th (click)="sortGroup()">Group <i class="fa fa-sort"></i></th>
                        <th>Description</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allItems">
                        <td><a [routerLink]="['/profile',user.id]">{{user.id}}</a></td>
                        <td>{{user.name}} </td>
                        <td>
                            <div *ngIf="user.gender==0">Male</div>
                            <div *ngIf="user.gender==1">Female</div>
                        </td>
                        <td>{{user.email}}</td>
                        <td><img src="{{user.image}}" alt="" width="30px" height="30px"></td>
                        <td>{{user.groupName}}</td>
                        <td>{{user.description}}</td>
                        <td><a [routerLink]="['/edit',user.id]" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                        </td>
                        <td><a class="btn btn-danger" (click)="deleteUser(user.id)"><i class="fa fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)" class="btn btn-light"
                        [ngClass]="{disabled:pager.currentPage === 1}">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)" class="btn btn-secondary"
                        [ngClass]="{disabled:pager.currentPage === 1}">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)" class="btn btn-light"
                        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)" class="btn btn-light"
                        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>