
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>List User</h2>
                <form action="" method="post">
                <label for="">Search</label>
                <input type="text" class="form-control" name="searchText" [(ngModel)]="searchText" (keyup)="handleSearch()" placeholder="Tim kiem theo name, email">
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th (click)="sortName()">name <i class="fa fa-sort"></i></th>
                        <th>gender</th>
                        <th>email</th>
                        <th>image</th>
                        <th>description</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of pagedItems">    
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>
                            <div *ngIf="user.gender==0">Male</div>
                            <div *ngIf="user.gender==1">Female</div>
                        </td>
                        <td>{{user.email}}</td>
                        <td><img src="{{user.image}}" alt="" width="30px" height="30px"></td>
                        <td>{{user.description}}</td>
                        <td><a [routerLink]="['/edit',user.id]"  class="btn btn-warning"><i class="fa fa-edit"></i></a></td>
                        <td><a class="btn btn-danger" (click) = "deleteUser(user.id)" ><i class="fa fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)" class="btn btn-light">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)" class="btn btn-secondary">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)" >{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)" class="btn btn-light">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)" class="btn btn-light">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div> 
    